@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply transition-all ease-in-out duration-200 rounded-[8px] px-4 h-[42px] cursor-pointer;
    }
    .nav-item {
        @apply hover:selected-nav-element cursor-pointer p-2 py-1 transition-all ease-out duration-200 rounded-[6px];
    }
    .search-bar {
        @apply border border-light-border-gray rounded-[8px] p-3 w-full 
        bg-main-white block placeholder-side-text-gray focus:outline-none focus:outline-1
        focus:outline-light-gray flex-shrink-0;
    }
    .invalid-input {
        @apply focus:outline-2 focus:!outline-error-text focus:border-transparent border-b border-error-text bg-hover-light-gray
    }
    .invalid-button {
        @apply btn-primary !bg-[#575757] hover:!bg-[#575757] !border-none pointer-events-none !text-disabled-gray opacity-50;
    }
    .settings-selection {
        @apply border-b-[3px] border-b-main-black cursor-pointer pb-4;
    }
    .settings-unselected {
        @apply pb-4 cursor-pointer;
    }
    .loading {
        @apply animate-pulse bg-very-light-gray rounded-[8px];
    }
    .main-btn {
        @apply bg-main-blue text-main-white hover:bg-main-blue-hover w-full !h-12 loading-btn flex-shrink-0;
    }
    .loading-btn {
        @apply btn-primary flex items-center justify-center gap-2;
    }
    .side-btn {
        @apply bg-main-white border text-main-blue border-light-border-gray btn-primary w-fit px-4
        hover:bg-main-white-hover h-[42px];
    }
    .text-box-error-message {
        @apply text-error-text mt-1 text-[15px];
    }
    .carousel-btn {
        @apply btn-primary !p-0 bg-main-white rounded-full shadow-profile-page-container border border-light-border-gray 
        flex items-center justify-center opacity-90 hover:scale-105 hover:opacity-100;
    }
    .success-btn {
        @apply hover:!bg-light-green !bg-light-green !border-light-green;
    }
    .success-btn * {
        @apply !text-main-white;
    }
    .red-btn {
        @apply bg-error-red hover:bg-error-red-hover btn-primary text-error-text;
    }
    .selected-nav-element {
        @apply !bg-main-black !text-main-white hover:!text-main-white;
    }
    .seller-level {
        @apply w-fit px-[12px] rounded-[6px];
    }
    .link {
        @apply hover:text-main-blue cursor-pointer transition-all ease-out duration-200;
    }
    .option {
        @apply rounded-full py-1 px-3 flex items-center justify-center gap-2;
    }
    .cancel-change {
        @apply red-btn option !h-fit text-[14px] cursor-pointer w-fit;
    }
    .change {
        @apply option btn-primary h-fit bg-highlight text-main-blue text-[14px] cursor-pointer w-fit hover:bg-highlight-hover;
    }
    .sidebar-item {
        @apply pt-9 link;
    }
    .dot {
        @apply w-[6px] h-[6px] rounded-full bg-side-text-gray opacity-0 animate-user-typing;
    }
    .dropdown {
        @apply border border-light-border-gray bg-main-white rounded-[8px] p-3 absolute shadow-post top-full right-0;
    }
}

@layer base {
    * {
        @apply box-border text-main-black font-railway text-[16px];
    }
    html {
        overflow-y: hidden;
    }
    ol {
        list-style-type: decimal;
        list-style-position: inside;
    }
    ul {
        list-style-type: circle;
        list-style-position: inside;
    }
    * {
        scrollbar-width: thin;
        scrollbar-color: #879198;
    }
    *::-webkit-scrollbar {
        width: 14px;
    }
    *::-webkit-scrollbar-track {
        background: #f7f7f7;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #879198;
        border-radius: 20px;
        border: 3px solid #f7f7f7;
    }
    ::selection {
        background: #18193F;
        color: #fdfdfd;
    }
    ::-moz-selection {
        background: #18193F;
        color: #fdfdfd;
    }
}
