@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply transition-all ease-in-out duration-200 rounded-[8px] px-6 h-[42px];
    }
    .nav-item {
        @apply hover:text-main-blue cursor-pointer;
    }
    .search-bar {
        @apply border border-light-gray rounded-[8px] p-3 w-full 
        bg-main-white block placeholder-side-text-gray focus:outline-none focus:outline-1
        focus:outline-light-gray;
    }
    .invalid-input {
        @apply focus:outline-2 focus:!outline-error-text focus:border-transparent border-b border-error-text bg-[#FFF7F6]
    }
    .invalid-button {
        @apply btn-primary !bg-[#575757] hover:!bg-[#575757] pointer-events-none !text-disabled-gray opacity-50;
    }
    .action-btn {
        @apply bg-[#36BF54] text-main-white hover:bg-[#45B65E];
    }
    .profile-menu-element {
        @apply text-main-black bg-main-white hover:bg-main-white-hover whitespace-nowrap p-3 pt-1 pb-1 text-left text-[15px];
    }
    .settings-selection {
        @apply border-b-[3px] border-b-main-black cursor-pointer pb-4;
    }
    .settings-unselected {
        @apply pb-4 cursor-pointer;
    }
    .loading {
        @apply animate-pulse bg-light-gray rounded-[8px];
    }
    .main-btn {
        @apply bg-main-black text-main-white hover:bg-main-blue w-full !h-12 loading-btn;
    }
    .loading-btn {
        @apply btn-primary flex items-center justify-center gap-2;
    }
    .side-btn {
        @apply bg-main-white border-2 border-light-gray btn-primary w-fit px-6
        hover:bg-main-white-hover h-[42px];
    }
    .text-box-error-message {
        @apply text-error-text mt-1 text-[15px];
    }
    .carousel-btn {
        @apply btn-primary !p-0 w-[50px] h-[50px] bg-main-white rounded-full shadow-profile-page-container border border-light-border-gray 
        flex items-center justify-center hover:shadow-medium;
    }
    .success-btn {
        @apply hover:!bg-light-green !bg-light-green;
    }
    .success-btn * {
        @apply !text-main-white;
    }
    .red-btn {
        @apply bg-error-red hover:bg-error-red-hover btn-primary text-error-text;
    }
    .selected-nav-element {
        @apply !text-main-blue font-semibold;
    }
}

@layer base {
    * {
        @apply box-border text-main-black font-railway text-[16px];
    }
    html {
        overflow-y: hidden;
    }
    .page {
        @apply max-w-screen-xxl m-auto px-7 py-7 min-h-[calc(100vh-90px)] bg-bg-light;
    }
    * {
        scrollbar-width: thin;
        scrollbar-color: #879198;
    }
    *::-webkit-scrollbar {
        width: 14px;
    }
    *::-webkit-scrollbar-track {
        background: #f7f7f7;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #879198;
        border-radius: 20px;
        border: 3px solid #f7f7f7;
    }
}
